<div class="container">
    <h1 class="jumbotron mb-0">Coop Booking System</h1>
    <nav class="navbar navbar-expand-sm bg-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a routerLink="/bookings" class="nav-link">Bookings</a>
            </li>
            <li class="nav-item">
                <a routerLink="/newbooking" class="nav-link">New booking</a>
            </li>
        </ul>
        <app-booking-count class="ml-auto"></app-booking-count>
    </nav>
    <router-outlet></router-outlet>
</div>